:root {
  --text-white: rgb(233, 233, 233);
}

/* COMPONENTS */
.title--main {
}
.title--sub {
}
.title--desc {
}
.container {
}

/* WHOLE */
* {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

/* HEAD */
.head {
  background-color: rgb(37, 37, 37);
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menubar__logo {
}
.menubar__logoname {
  color: white;
  text-decoration: none;
}
.menubar__left {
  display: flex;
  align-items: center;
}
.menubar__right {
  display: flex;
  overflow: hidden;
}
.menubar__right li {
  margin: 1em;
  padding: 0.1em;
}
.menubar__right li > a {
  color: white;
  text-decoration: none;
}

.main {
  text-align: center;
}
.main__photo {
}
.main__title {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: -1em;
}
.main__desc {
  color: white;
  font-weight: bold;
}
.main__contact {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.6em;
  border-radius: 3px;
}

/* ABOUT */
.about {
}

.cards {
}
.card {
}
.card__imgContainer {
}
.card__img {
}
.card__title {
}
.card__content {
}

.career_lists {
}
.career_list {
}
.career_list__logo {
}
.career_list__content {
}
.career_list__desc {
}
.career_list__date {
}

/* SKILLS */
.skill {
}

.skill_chart {
}
.chart__left {
}
.chart__right {
}
.chart__right--up {
}
.chart__right--down {
}

.chart__title {
}

.left_lists {
}
.left_lists li {
}
.left_list__up {
}
.left_list__down {
}
.left_list__text {
}
.left_list__poll--colored {
}
.left_list__poll--background {
}

.right_lists {
}
.right_listss li {
}

/* WORKS */
.works {
}

.buttons {
}
.buttons li {
}
.buttons li > button {
}

.project_lists {
}
.project_lists li {
}

/* TESTIMONIALS */
.testimonials {
}
.testimonials_lists {
}
.testimonials_lists li {
}
.testimonials_list__img--container {
}
.testimonials_list__img {
}
.testimonials_list__contents {
}
.testimonials_list__contents--desc {
}
.testimonials_list__contents--company {
}
.testimonials_list__contents--man {
}

/* CONTACT */
.contact {
}
.logos {
}
.logo {
}
.rights {
}
